/* Hero Section */
.hero-section {
  background-image: url('./360_F_181658575_6gz3Gx96iRndmBtXv2llVsGOGsfdT1AP.jpg');
  background-size: cover;
  background-position: center;
  padding: 100px 0;
  color: #ffffff;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}

.hero-title {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  color: #ffffff;
}

.hero-subtitle {
  font-size: 1.5rem;
  margin-bottom: 30px;
  text-align: center;
  color: #dcdcdc;
}

.cta-button {
  font-size: 1.25rem;
  padding: 12px 25px;
  background-color: #1f8ef1;
  border: none;
  border-radius: 5px;
  margin-left: 670px;
  color: #ffffff;
  transition: background-color 0.3s, transform 0.3s;
}

.cta-button:hover {
  background-color: #0056b3;
  transform: translateY(-3px);
  color: #ffffff;
}

/* Features Section */
.features-section {
  padding: 50px 0;
  background-color: #121212;
  color: #f5f5f5;
}

.feature {
  text-align: center;
  padding: 20px;
  border-radius: 8px;
  background-color: #1e1e1e;
  width: 31%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  margin-left: 25px;
  margin-right: 2px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.feature i {
  font-size: 50px;
  color: #1f8ef1;
  margin-bottom: 15px;
}

.feature h3 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #ffffff;
}

.feature p {
  color: #b3b3b3;
}

.feature:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
}

/* Responsive Design */
@media (max-width: 768px) {
  .hero-title {
    font-size: 2.5rem;
  }

  .hero-subtitle {
    font-size: 1.2rem;
  }

  .cta-button {
    font-size: 1rem;
  }

  .feature i {
    font-size: 40px;
  }
}
